# ASP.NET Core build folders
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo

# User-specific files
*.userosscache
*.userprefs

# Local database files (if any)
*.mdf
*.ldf
*.sqlite

# Logs
*.log

# Secret files
appsettings.Development.json

# Rider IDE files
.idea/

# Node.js dependencies
node_modules/

# NPM logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Others
*.db

.fake